@charset "UTF-8";



:root 
{   
    --cor0: #c1c9c3;
    --cor1: #c5c4c4;
    --cor2: #afafaf;
    --cor3: #666666;
    --cor4: #a78b8b;
    --cor5: #8a7c49;
    --cor6: #2e3a2de5;
    

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';
}

body
{
    background: url(../imagens/um3.jpg) ;
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-size: auto;
    font-size: 15pt;
}

main
{
    background-color: var(--cor6);
    min-width: 100px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000052;
    
}

main a
{
    color: rgb(131, 210, 255);
    font-weight: bold;
}

aside
{
    
    padding: 10px;
    border-radius: 10px;
}

aside > h1
{
    color: white;
    background-color: rgba(255, 255, 255, 0.082);
    padding: 15px;
    margin: -10px -10px 0px -10px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 0px 0px 10px #00000052;
    
}

aside > h2
{
    color: white;
    
    padding: 15px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    
    text-shadow: 0px 0px 10px #00000052;
}

aside > h3
{
    color: white;
   
    padding: px 0px 0px 0px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    
    text-shadow: 0px 0px 10px #00000052;
}



aside > ul
{
    text-shadow: 0px 0px 10px #00000052;
    background-color: rgba(255, 255, 255, 0.082);
    padding: 25px;
    
    margin: 0px -10px -10px -10px;
   
}

iframe
{
    width: 99vw;
    height: 500px;
    margin: auto;
    border: 2px solid black;
}

section
{
    background: rgba(0, 0, 0, 0.507);
    color: white;
    border-radius: 50px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.671);
    margin-top: 50px;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    font-size: 1.2em;
}

ul > p
{
    text-align: center;
    width: 525px;
    margin: auto;
    padding-bottom: 50px;
}

li
{
    font-size: 0.9em;
}

footer
{
    text-align: right;
    margin-top: 30px;
    font-size: .7em;
    border-radius: 0px 0px 10px 10px;
}

ul
{
    border-radius: 10px;
}