@charset "UTF-8";

:root 
{   
    --cor0: #c1c9c3;
    --cor1: #EBDDAE;
    --cor2: #EB363B;
    --cor3: #6874e0;
    --cor4: #a78b8b;
    --cor5: #8a7c49;
    --cor6: #152077;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';
}


aside
{
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
}

aside > h1
{
    background-color: var(--cor6);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
}

aside > h2
{
    
    color: white;
    text-align: center;
}