@charset "UTF-8";



:root 
{   
    --cor0: #c1c9c3;
    --cor1: #EBDDAE;
    --cor2: #afafaf;
    --cor3: #666666;
    --cor4: #a78b8b;
    --cor5: #8a7c49;
    --cor6: #8f8f8f;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';
}

body
{
    background-color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
}

main
{
    background-color: var(--cor6);
    min-width: 100px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000052;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main a
{
    color: rgb(26, 26, 161);
    font-weight: bold;
}

aside
{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    
}

aside > h1
{
    background-color: var(--cor6);
    color: black;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 0px 0px 10px #00000052;
}

aside > h2
{
    text-shadow: 0px 0px 10px #00000052;
    
    text-align: center;
}

aside > h3
{
    text-shadow: 0px 0px 10px #00000052;
}

aside > ul
{
    text-shadow: 0px 0px 10px #00000052;
}

iframe
{
    width: 99vw;
    height: 500px;
    margin: auto;
    border: 2px solid black;
}